body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.sidebar {
    position: fixed;
    height: 100%;
    transition: width 0.3s;
}

.sidebar h2 {
    font-size: 1.5rem;
    color: #f8f9fa;
}

.nav-link {
    color: #f8f9fa;
}

.nav-link:hover {
    background-color: #495057;
}

.nav-link.active {
    background-color: #343a40;
    color: #fff;
}

.content {
    margin-left: 250px; /* Asegura que el contenido no se superponga al sidebar */
}

.page-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.table {
    margin-top: 20px;
}

.table-hover tbody tr:hover {
    background-color: #e2e3e5;
}

.table-dark th {
    background-color: #343a40;
    color: #fff;
}

.table-responsive {
    margin-top: 20px;
}

.modal-header {
    background-color: #343a40;
    color: #fff;
}

.modal-footer {
    justify-content: space-between;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}
