
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    position: fixed;
}

.sidebar h2 {
    color: #fff;
}

.sidebar .nav-link {
    color: #adb5bd;
    margin-bottom: 10px;
}

.sidebar .nav-link:hover {
    color: #fff;
    background-color: #495057;
    border-radius: 4px;
}

.sidebar .nav-link.active {
    color: #fff;
    background-color: #0d6efd;
    border-radius: 4px;
}

/* Estilos para el Contenido Principal */
.content {
    margin-left: 250px; /* Ancho del sidebar */
    width: calc(100% - 250px);
    min-height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
}

/* Estilos Generales */
.page-title {
    color: #343a40;
}

.btn-custom-green {
    background-color: #28a745;
    color: #fff;
    border: none;
}

.btn-custom-orange {
    background-color: #fd7e14;
    color: #fff;
    border: none;
}

.btn-custom-red {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.lista-tickets-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

/* Estilos para las Tablas */
.table-responsive {
    margin-top: 20px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.table th {
    background-color: #343a40;
    color: #fff;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilos para Alertas */
.alert {
    margin-bottom: 20px;
}

/* Estilos para Formularios */
.form-label {
    font-weight: bold;
}
