<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Técnico - Gestión de Tickets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesTecnico.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        /* Agregar estilos para deshabilitar el clic en el link de salir */
        .nav-link.disabled {
            pointer-events: none;
            color: rgba(255, 255, 255, 0.5);
        }
    </style>
</head>
<body>
    <div class="d-flex">
        <!-- Sidebar -->
        <div class="sidebar d-flex flex-column p-3 bg-dark text-white" style="width: 250px;">
            <h2 class="text-center">Panel Técnico</h2>
            <hr class="bg-light">
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a href="#" class="nav-link active">
                        <i class="fas fa-clock"></i> Pendientes
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#resueltos" role="tab" aria-controls="resueltos" aria-selected="false">
                        <i class="fas fa-check-circle"></i> Resueltos
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link" data-bs-toggle="tab" data-bs-target="#historial" role="tab" aria-controls="historial" aria-selected="false">
                        <i class="fas fa-history"></i> Historial
                    </a>
                </li>

                
            </ul>
            <hr class="bg-light">
            <div class="text-center">
                <span>Bienvenido/a <span id="nombreUsuario"></span></span><br>
                <a href="#" class="text-light nav-link disabled" id="salirLink">Salir</a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="content flex-grow-1 p-4 bg-light">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md-12">
                        <h2 class="page-title text-dark">Gestión de Tickets</h2>
                    </div>
                </div>

                <!-- Tabs for Pending, Resolved, and History Tickets -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="pendientes-tab" data-bs-toggle="tab" href="#pendientes" role="tab" aria-controls="pendientes" aria-selected="true">Tickets Pendientes</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="resueltos-tab" data-bs-toggle="tab" href="#resueltos" role="tab" aria-controls="resueltos" aria-selected="false">Tickets Resueltos</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="historial-tab" data-bs-toggle="tab" href="#historial" role="tab" aria-controls="historial" aria-selected="false">Historial</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <!-- Tickets Pendientes -->
                    <div class="tab-pane fade show active" id="pendientes" role="tabpanel" aria-labelledby="pendientes-tab">
                        <h2 class="mb-3">Lista de Tickets Pendientes</h2>
                        <div class="table-responsive lista-tickets-container">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Asunto</th>
                                        <th>Descripción</th>
                                        <th>Usuario Creador</th>
                                        <th>Prioridad</th>
                                        <th>Fecha Creación</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaTicketsPendientes">
                                    <!-- Contenido de la tabla de tickets pendientes -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Tickets Resueltos -->
                    <div class="tab-pane fade" id="resueltos" role="tabpanel" aria-labelledby="resueltos-tab">
                        <h2 class="mb-3">Lista de Tickets Resueltos</h2>
                        <div class="table-responsive lista-tickets-container">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Asunto</th>
                                        <th>Descripción</th>
                                        <th>Usuario Creador</th>
                                        <th>Prioridad</th>
                                        <th>Fecha Creación</th>
                                        <th>Fecha Resolución</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaTicketsResueltos">
                                    <!-- Contenido de la tabla de tickets resueltos -->
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Historial -->
                    <div class="tab-pane fade" id="historial" role="tabpanel" aria-labelledby="historial-tab">
                        <h2 class="mb-3">Lista de Tickets en Historial</h2>
                        <div class="table-responsive lista-tickets-container">
                            <table class="table table-hover">
                                <thead class="table-dark">
                                    <tr>
                                        <th>ID</th>
                                        <th>Asunto</th>
                                        <th>Descripción</th>
                                        <th>Usuario Creador</th>
                                        <th>Prioridad</th>
                                        <th>Fecha Creación</th>
                                        <th>Fecha Resolución</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody id="tablaHistorial">
                                    <!-- Contenido de la tabla de tickets en historial -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Modal Descripción del Ticket -->
                <div class="modal fade" id="descripcionTicketModal" tabindex="-1" aria-labelledby="descripcionTicketModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="descripcionTicketModalLabel">Descripción del Ticket</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <p id="ticketDescription"></p>
                                <p id="creadoPor"></p>
                                <p id="prioridad"></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="tecnico.js"></script>
</body>
</html>
